{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Marcador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quidem repudiandae non cumque vero ducimus aliquam. Ipsa veniam enim deserunt dolore minima sit esse maiores debitis, numquam ducimus? Doloribus, accusamus.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/marcador.jpg" alt="imagen_pequeña" class="img-thumbnail">
        </div>
    </div>
{{> footer }}
   